{% extends "base.html" %}
{% block content %}


<!--<h1>{{grocery.name}}</h1>-->


<h1>{{grocery.name}}</h1> 
{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}
  <!-- Lisää tuote on vain kauppiaan käytössä-->


  <table class="table table-striped table-bordered">
    <thead>
        
   
      <tr>
        <!--<th>Nimi</th>-->
        <th>osoite</th>
        <th>puh</th>
        <th>mail</th>
        <th>aukioloajat</th>
        <th>arvosana</th>
        <th></th>
      </tr>
          <tr>
          <!--<td><a href="{{base_path}}/grocery/{{grocery.id}}">{{grocery.name}}</td>-->
          <td>{{grocery.address}}</td>
          <td>{{grocery.phone}}</td>
          <td>{{grocery.mail}}</td>
          <td>{{grocery.openinhours}}</td>
          <!--<td>{{grocery.reviews}}</td>-->

           <!--{% if grocery.reviews %}-->
                <!--<label class="label label-success">arvioitu-->
              <!--{% else %}-->
                <!--<label class="label label-danger">ei arvioitu-->
              <!--{% endif %}-->
               <tbody>

              
              <!--
          </td>-->
          <!--<td>{{grocery.price}}</td>-->
          <!--<td><a class="btn btn-default btn-sm" href="{{base_path}}/grocery/{{grocery.id}}/edit">Muokkaa</a></td>-->
<!--        </tr>
    </thead>-->

  </table>
{% endblock %}