{% extends "base.html" %}
{% block content %}
  <h1>Turun sinappi</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> 11.11.2011</li>
    <li><strong>Julkaisija:</strong> Unilever</li>
    <li><strong>Ostettu:</strong> <label class="label label-danger">Ei ostettu</label></li>
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Turun sinappi on iha jees
  </p>
{% endblock %}