{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotetta {{attributes.name}}</h1>
    <!--public $id, $product_id, $name, $purchased, $description, $expirationdate, $published, $publisher, $category, $price;-->
  {% if errors %}
    <div class="alert alert-danger">
      
        {% for error in errors %}
          {{error}}
        {% endfor %}
      
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/product/edit/{{attributes.id}}">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
      <label>Julkaisija</label>
      <input type="text" name="publisher" class="form-control" value="{{attributes.publisher}}">
    </div>

    <div class="form-group">
      <label>Kategoria</label>
      <input type="text" name="category" class="form-control" value="{{attributes.category}}">
    </div>
     <div class="form-group">
      <label>Julkaisu pvm</label>
      <input type="text" name="published" class="form-control" value="{{attributes.published}}">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <input name="description" class="form-control" value="{{attributes.description}}">
    </div>
      
    <div class="form-group">
      <label>Hinta</label>
      <input name="price" class="form-control" value="{{attributes.price}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
  </form>
{% endblock %}