{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>tuotteet</h1>

  <!-- Lisää tuote on vain kauppiaan käytössä-->


  <table class="table table-striped table-bordered">
    <thead>
        
   
      <tr>
        <th>Nimi</th>
        <th>Lisäyspäivä</th>
        <th>Julkaisija</th>
        <th>Id</th>
        <th>Hinta</th>
        <td><a class="btn-success" href="{{base_path}}/new" style="display: inline-block;"><button type="submit" class="btn btn-success"> Lisää uusi tuote</button></a></td>
        <!--<td><form method="post" action="{{base_path}}/new" style="display: inline-block;">-->
  
        <th></th>
      </tr>
      
    </thead>
    <tbody>
      {% for product in products %}
      
    <tr>
          <td><a href="{{base_path}}/product/{{product.id}}">{{product.name}}</td>
          <td>{{product.published}}</td>
          <td>{{product.publisher}}</td>
          <td>{{product.id}}</td>

<!-- tämä tulee vain kauppiaalle käyttöön-->
          <td>{{product.price}}</td>
          <td> {{forms.destroy_button("#{base_path}/product/destroy/#{product.id}")}} </td>
          <td> {{forms.change_button("#{base_path}/product/edit/#{product.id}")}} </td>
          <!--<td>  {{forms.destroy_button()}} </td>-->
<!--          <td><form method="post" action="{{base_path}}/product/edit/{{product.id}}" style="display: inline-block;">
  <button type="submit" class="btn btn-success">Muuta</button>
</form></td>-->
          <!--<td>{{forms.change_button()}}</td>-->
<!--          <td><a class="btn btn-default btn-sm" href="{{base_path}}/new">Lisää tuote</a></td>-->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}