
{% extends "base.html" %}
{% block content %}


<!--<h1>{{grocery.name}}</h1>-->


<h1>Tili</h1> 
{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}
  <!-- Lisää tuote on vain kauppiaan käytössä-->


  <table class="table table-striped table-bordered">
    <thead>
        
   
      <tr>
        <th>Nimi</th>
        <th>Id</th>
      
        <th></th>
      </tr>
          <tr>
          <td><a href="{{base_path}}/accounts/{{vendor.id}}">{{vendor.name}}</td>
          <td>{{vendor.id}}</td>
          <td> {{forms.change_button("#{base_path}/product/edit/#{product.id}")}} </td>

         
        </tr>
    </thead>

  </table>
{% endblock %}